.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  background-color: aquamarine;
  margin: 0;
}

.happy,
.sad {
  text-align: center;
  border: solid;
}

.nameSBox {
  display: flex;
  flex-wrap: wrap;
}
.nameBox {
  text-align: center;
  border: solid;
  padding: 9px;
  cursor: pointer;
}
